.mainwrapper {
  float: left;
  width: 90%;
  height: 90%;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  box-shadow: 13px 13px 24px 11px #333;
}
.InputBoxForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: left;
  position: relative;
}
.InputBoxForm::after {
  content: "";
  float: left;
  width: 1px;
  height: 400px;
  background-color: #000;
  position: absolute;
  right: 40px;
  top: -110px;
}
.colorPickerNew {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}
.mainBody {
  float: right;
  width: 73%;
  min-height: calc(100% - 50px);
}
.fieldsColumn {
  width: 62%;
  margin: 0 auto;
}
.colorPickerNew button {
  width: 100%;
}
.colorPickerNew .sketch-picker {
  position: absolute;
  left: 0;
  bottom: auto;
}
.fieldsColumn input {
  height: 23px;
  margin-bottom: 8px;
}
.button {
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.input {
  border: none;
  border-radius: 6px;
  background-color: rgb(242, 242, 242);
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  /* color: black;
  width: 85%;
  border: none;
  background-color: transparent; */
}
